---
layout: default
title: Features
suppress_header: true
extra_css:
  - features.css
  - magnific-popup.css
extra_js:
  - feature_page.js
---

<div class="wrapper">

  <nav class="navbar navbar-default qnav hidden-xs qnav2" role="navigation" id="qnav">
    <div class="container-fluid featurenav">
      <ul class="nav nav-pills nav-justified">
        <li><a href="#community" onClick="_gaq.push(['_trackEvent', 'Features', 'sticky nav', 'Community Edition']);">Community Edition</a></li>
        <li><a href="#enterprise" onClick="_gaq.push(['_trackEvent', 'Features', 'sticky nav', 'Enterprise Edition']);">Enterprise Edition</a></li>
        <li><a href="#compare" onClick="_gaq.push(['_trackEvent', 'Features', 'sticky nav', 'Compare']);">Compare</a></li>
      </ul>
    </div>
  </nav>

  <div class="wide-feature head" id="community">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8 head-non-bg">
          <div class="title">GitLab <br> <b>Community edition</b></div>
          <div class="header-text">
            <uL>
              <li><b>Feature rich</b>: Git repository management, code reviews, issue tracking, activity feeds and wikis. It comes with <a href="/gitlab-ci/">GitLab CI</a> for continuous integration and delivery.</li>
              <li><b>Open Source</b>: MIT licensed, community driven, 700+ contributors, inspect and modify the source, easy to integrate into your infrastructure</li>
              <li><b>Scalable</b>: support 25,000 users on one server or a highly available active/active cluster</li>
            </ul>
            <div class="actions">
              <a href="/downloads" class="btn btn-default btn-lg" onClick="_gaq.push(['_trackEvent', 'Features', 'GitLab CE Header', 'Download']);">Download</a>
              <a href="https://gitlab.com/gitlab-org/gitlab-ce/tree/master#README" class="btn btn-default btn-lg" onClick="_gaq.push(['_trackEvent', 'Features', 'GitLab CE Header', 'Source + Readme']);">Source + Readme</a>
            </div>
            <br>
            If you want to use GitLab without installing it,
            check out <a href="/gitlab-com">GitLab.com</a>
            Note that only self-hosted GitLab will let you integrate with your LDAP.
          </div>

        </div>

        <div class="col-md-4 head-bg hidden-sm hidden-xs">
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row feature-row">
      <div class="col-md-4 small-feature">
        <div class="name">
          ACTIVITY <b>STREAM</b>
        </div>
        <a href="/images/feature_page/activity_stream_full.png" class="image-link"><img src="/images/feature_page/activity_stream_full.png" class="img-responsive" alt="" /></a>
        <div class="link">
          <a href="https://gitlab.com/gitlab-org/gitlab-ce/activity">Have a look at an actual activity page</a>
        </div>
      </div>
      <div class="col-md-4 small-feature">
        <div class="name">
          FILE <b>BROWSER</b>
        </div>
        <a href="/images/feature_page/file_browser_full.png" class="image-link"><img src="/images/feature_page/file_browser_full.png" class="img-responsive" alt="" /></a>
        <div class="link">
          <a href="https://gitlab.com/gitlab-org/gitlab-ce/tree/master">Try navigating GitLab's code</a>
        </div>
      </div>
      <div class="col-md-4 small-feature">
        <div class="name">
          GIT POWERED <b>WIKI</b>
        </div>
        <a href="/images/feature_page/wiki_full.png" class="image-link"><img src="/images/feature_page/wiki_full.png" class="img-responsive" alt="" /></a>
      </div>
    </div>
  </div>



  <div class="wide-feature mr">
    <div class="row">
      <div class="col-md-12">
        <div class="name">
          powerful <b>code review</b>
        </div>

        <div class="description">
          Merge requests with line-by-line comments, CI and issue tracker integrations and much more..
        </div>
      </div>
      <div class="wide-img">
        <a href="/images/feature_page/mr.png" class="image-link"><img src="/images/feature_page/mr_sh.png" alt="" class="img-responsive"/></a>
      </div>
      <div class="wide-feature-link">
        <a class="btn-default" href="https://gitlab.com/gitlab-org/gitlab-ce/merge_requests">See the power of merge requests on GitLab.com</a>
      </div>
    </div>

  </div>

  <div class="container">
    <div class="row feature-row">
      <div class="col-md-4 small-feature">
        <div class="name">
          ISSUE <b>MANAGEMENT</b>
        </div>
        <a href="/images/feature_page/issue_management.png" class="image-link"><img src="/images/feature_page/issue_management.png" class="img-responsive" alt="" /></a>
        <div class="link">
          <a href="https://gitlab.com/gitlab-org/gitlab-ce/issues">See how we use issues to manage our open source project</a>
        </div>
      </div>
      <div class="col-md-4 small-feature">
        <div class="name">
          CODE <b>SNIPPETS</b>
        </div>
        <a href="/images/feature_page/snippets_full.png" class="image-link"><img src="/images/feature_page/snippets_full.png" class="img-responsive" alt="" /></a>
      </div>
      <div class="col-md-4 small-feature">
        <div class="name">
          WEB <b>HOOKS</b>
        </div>
        <a href="/images/feature_page/webhooks_full.png" class="image-link"><img src="/images/feature_page/webhooks_full.png" class="img-responsive" alt="" /></a>
      </div>
    </div>
  </div>

  <div class="wide-feature head ee" id="enterprise">
    <div class="container">
      <div class="name">
        gitlab <b>enterprise edition</b>
      </div>

      <div class="description">
        GitLab Enterprise Edition builds on top of the Community Edition and includes extra features mainly aimed at organizations with more than 100 users.
        It has LDAP group sync, audit logs and multiple roles.
        It includes deeper authentication and authorization integration, has fine-grained workflow management, has extra server management options and it integrates with your tool stack.
        GitLab EE runs on your servers, for our SaaS offering please see <a href="/gitlab-com">GitLab.com</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row feature-row">
      <div class="col-md-4 small-feature">
        <div class="name">
          GIT <b>HOOKS</b>
        </div>
        <a href="/images/feature_page/githooks_full.png" class="image-link"><img src="/images/feature_page/githooks_full.png" class="img-responsive" alt="" /></a>
      </div>
      <div class="col-md-4 small-feature">
        <div class="name">
          LDAP <b> GROUP SYNC</b>
        </div>
        <a href="/images/feature_page/ldap_groups_full.png" class="image-link"><img src="/images/feature_page/ldap_groups_full.png" class="img-responsive" alt="" /></a>
      </div>
      <div class="col-md-4 small-feature">
        <div class="name">
          BRANDED <b>LOGIN PAGE</b>
        </div>
        <a href="/images/feature_page/branded_login_full.png" class="image-link"><img src="/images/feature_page/branded_login_full.png" class="img-responsive" alt="" /></a>
        <div class="link">
          <a href="https://gitlab.com/users/sign_in">See the login page from GitLab.com ></a>
        </div>
      </div>
    </div>
  </div>

  <div class="wide-feature head community" id="compare">
    <div class="container">
      <div class="name">
        compare gitlab versions
      </div>
    </div>
  </div>

  <br>

  <div class="container">
    <div class="compare">

      {% include features_table.html %}

      <div class="action">
        <a href="/pricing/" onClick="_gaq.push(['_trackEvent', 'Features', 'Compare', 'Pricing (large bottom button)']);" class="btn btn-default btn-lg"><b>See Pricing Options</b></a>
      </div>

      <div class="action">
        <a href="/direction/" style="font-size: 22px;">View the direction of development and upcoming features</a>
      </div>

      <div class="action">
        <a href="gitlab-features.pdf" style="font-size: 22px;">Download the feature comparison table as a PDF</a>
      </div>

      <div class="action">
        <a href="/comparison" style="font-size: 22px;">Compare GitLab with other tools</a>
      </div>
    </div>
  </div>
</div>
